body {
    font-family: Roboto, sans-serif;
    background-color: #0d1117;
    display: block;
    align-items: center;
    line-height: 1.5;
    justify-content: center;
    color: #cccccc;


}
main {

    padding: 16px;
    font-size: 14px;
    /*background-color: var(--color-canvas-subtle);*/
    /*border: 1px solid var(--color-border-muted);*/
    border-top: 0;
    border-radius: 0 0 6px 6px;
}
main h1{
    margin: auto;
}

.login,.login-callout {
    border-radius: 6px;
    border: 1px solid #21262d;
    text-align: center;
    width: 250px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-top: 15px;
    font-size: 20px;
    box-shadow: 10px 10px 20px #cccccc08;
    background-color: rgb(22, 27, 34);
}
.login input {
    display: block;
    width: 180px;
    margin: 20px ;
    margin-top: 4px;
    padding: 5px;
    font-size: 15px;
    color: #999b9d;
    /*把输入框的鼠标点击聚焦轮廓线去掉*/
    outline: none;
}

.login input {
    text-align: center;
}

input[type=text], input[type=password] {
    border: 1px solid;
    border-radius: 6px;
    background-color: #0d1117;
    color: #5f84b0;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    display: inline-block;


}

input[type=text]:focus, input[type=password]:focus {
    border-color: #2ecc71;
    width: 188px;
    transition: 0.5s;
}

input[type=button] {

    color: #c4dec9;
    background-color: #0d1117;
    width: 190px;
    height: 37px;
    /*显示显示方式设置 inline-block*/
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid #2e843e;
    border-radius: 10px;

}
input[type=button]:hover {
    background-color: #32964e;
    transition: 0.5s;
}
.label-style {
    margin-right: 118px;
}

.label-pwd-style {
    margin-right: 145px;
}

h1 {
    text-align: center;
}

p.login-callout {
    /*可选 给盒子增加边框阴影 使用 box-shadow 属性 */
    /*box-shadow: 10px 10px 25px #cccccc15;*/
    /*text-align: center;*/
    /*background-color: #2c3238;*/
    /*!*margin-top: 16px;*!*/
    /*padding: 16px 16px;*/
    /*border-radius: 6px;*/
    background-color: #0d1117;
    padding-bottom: 15px;


}

p.login-callout a {
    font-size: 16px;
    color: #5f84b0;
    text-decoration: none;
}

p.login-callout a:hover {
    color: #cccccc;
}



/*头部和尾部设置*/
header, footer{
    text-align: center;
    padding: 40px;


}
